<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>RamIO</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="views.css">
</head>

<body class="bg-carolina text-gray">
<div class="container">

    <div class="jumbotron text-center bg-white m-top-five two-third-width center border-gray">


                            <!--Inverted Buttons Below-->

        <!--<a href="/login" class="btn bg-white btn-lg pull-right m-top-zero m-neg-up m-neg-right border">-->
            <!--<span class="fa fa-sign-in"></span> Login</a>-->

        <!--<a href="/signup" class="btn bg-white btn-lg pull-left m-top-zero m-neg-up m-neg-left border">-->
            <!--<span class="fa fa-user-plus"></span>Signup</a>-->

                            <!--Normal Colored Buttons Below-->

        <a href="/login" class="btn btn-info btn-lg pull-right m-top-zero m-neg-up m-neg-right border-gray">
            <span class="fa fa-sign-in"></span> Login</a>

        <a href="/signup" class="btn btn-info btn-lg pull-left m-top-zero m-neg-up m-neg-left border-gray">
            <span class="fa fa-user-plus"></span>Signup</a>

        <h1>
            <span class="fa fa-university text-carolina"></span>
            RamIO
            <span class="fa fa-university text-carolina"></span>
        </h1>

        <p>A real-time, multiplayer, HTML5 game built using NodeJS, Express, SocketIO,
            Canvas, PostgreSQL, and more.</p>



        <table class="table-sm table-striped table-bordered small center m-zero">
            <thead>
                <tr><th>Place</th><th>Username</th><th>High Score</th></tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="fa fa-trophy text-carolina"></span></td>
                <td><%= topfive[0].username%></td>
                <td><%= topfive[0].score%></td>
            </tr>
            <% if (topfive) {
                for (var i = 1; i < topfive.length; i++){ %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= topfive[i].username %></td>
                <td><%= topfive[i].score %></td>
            </tr>
            <% }
            } %>
            </tbody>
        </table>



    </div>

</div>
</body>
</html>
